.feed {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #c7feff;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
} 

.likes {
  margin-bottom: 1px;
}
h1 {
  text-align: center;
}
